meta(charset='UTF-8')
title= title
link(rel='stylesheet', href= '/stylesheets/style.css')
script(
  data-main= '/javascripts/app',
  src= '/javascripts/vendor/requirejs-bower/require.js'
)
script.
  require.config({
    paths: {
      io:          'vendor/socket.io-client/dist/socket.io.min',
      preloadjs:   'vendor/createjs-preloadjs/lib/preloadjs-NEXT.min',
      createjs:    'vendor/easeljs/lib/easeljs-NEXT.min',

      Publisher:   'lib/publisher',

      AuthView:    'view/auth',
      UserView:    'view/user',
      GameView:    'view/game',

      AuthModel:   'model/auth',
      UserModel:   'model/user',
      GameModel:   'model/game',

      AuthCtrl:    'controller/auth',
      UserCtrl:    'controller/user',

      VimpCtrl:    'controller/vimp',
      BackCtrl:    'controller/back',
      RadarCtrl:   'controller/radar',

      Factory:     'model/factory',

      BackParts:   'model/parts/back',
      RadarParts:  'model/parts/radar',
      HalkParts:   'model/parts/halk',
      FlatParts:   'model/parts/flat'
    },
    shim: {
      'createjs': {
        deps: ['preloadjs'],
        exports: 'createjs'
      }
    }
  });
