meta(charset='UTF-8')
title= title
link(rel='stylesheet', href= cssURL + 'style.css')
script(data-main= jsURL + 'app', src= jsURL + 'lib/require.js')
script.
  require.config({
    paths: {
      io:          '/socket.io/socket.io',
      preloadjs:   'lib/preloadjs-NEXT.min',
      createjs:    'lib/easeljs-NEXT.min',
      Publisher:   'lib/publisher',

      AuthView:    'view/auth',
      UserView:    'view/user',
      GameView:    'view/game',

      AuthModel:   'model/auth',
      UserModel:   'model/user',
      GameModel:   'model/game',

      AuthCtrl:    'controller/auth',
      UserCtrl:    'controller/user',

      VimpCtrl:    'controller/vimp',
      BackCtrl:    'controller/back',
      RadarCtrl:   'controller/radar',

      Factory:     'model/factory',

      BackParts:   'model/parts/back',
      RadarParts:  'model/parts/radar',
      HalkParts:   'model/parts/halk',
      FlatParts:   'model/parts/flat'
    },
    shim: {
      'createjs': {
        exports: 'createjs'
      },
      'preloadjs': {
        exports: 'preloadjs'
      }
    }
  });
