doctype 5
html
  head
    meta(charset='UTF-8')
    title= title
    link(rel='stylesheet', href= cssURL + 'style.css')
    script(data-main= jsURL + 'app', src= jsURL + 'lib/require.js')
    script.
      require.config({
        paths: {
          io:          '/vimp/socket.io/socket.io',
          preloadjs:   'lib/preloadjs-NEXT.min',
          createjs:    'lib/easeljs-NEXT.min',

          Publisher:   'pattern/publisher',
          Mediator:    'pattern/mediator',

          AuthView:    'view/auth',
          UserView:    'view/user',
          GameView:    'view/game',

          AuthModel:   'model/auth',
          UserModel:   'model/user',
          GameModel:   'model/game',

          AuthCtrl:    'controller/auth',
          UserCtrl:    'controller/user',

          BackModel:   'model/game/back',
          RadarModel:  'model/game/radar',
          ShipModel:   'model/game/ship'
        },
        shim: {
          'createjs': {
            exports: 'createjs'
          },
          'preloadjs': {
            exports: 'preloadjs'
          }
        }
      });
  body
    block content
