doctype 5
html
  head
    meta(charset='UTF-8')
    title= title
    link(rel='stylesheet', href= cssURL + 'style.css')
    script(data-main= jsURL + 'app', src= jsURL + 'lib/require.js')
    script.
      require.config({
        paths: {
          io:          '/vimp/socket.io/socket.io',
          preloadjs:   'lib/preloadjs-NEXT.min',
          createjs:    'lib/easeljs-NEXT.min',

          Publisher:   'pattern/publisher',

          UserModel:   'model/user',
          UserView:    'view/user',
          UserCtrl:    'controller/user',

          BackModel:   'model/back',
          BackView:    'view/back',

          GameModel:   'model/game',
          GameView:    'view/game',
          GameCtrl:    'controller/game',

          ShipModel:   'model/game/ship',

          RadarModel:  'model/radar',
          RadarView:   'view/radar'
        },
        shim: {
          'createjs': {
            exports: 'createjs'
          }
        }
      });
  body
    block content
